.my-courses {
  &__card {
    .card {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 10px;
      border: 1px solid $border-gray;
      background: $white-blue;
      overflow: hidden;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 0;
      border-bottom: 1px solid $border-gray;
      border-radius: 0 0 10px 10px;
      margin-bottom: 0.6875rem;
      background: white;
    }
  }

  .content-wrapper {
    padding: 0 1rem;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 14px;
      header {
        h4 {
          color: $gray70;
          font-size: 20px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
          color: $gray70;
          font-weight: 100;
        }
      }
      .cont {
        position: relative;
        color: $red;
        margin-left: 2rem;
        &::before {
          position: absolute;
          top: 50%;
          left: -2rem;
          transform: translateY(-40%);
          content: url("/assets/images/icons/arrow-left.svg");
          filter: invert(49%) sepia(88%) saturate(4364%) hue-rotate(338deg)
            brightness(95%) contrast(100%);
        }
      }
    }

    p.finish {
      color: $gray70;
      font-size: 16px;
      margin-bottom: 1.25rem !important;
    }
  }
}

@include mobile-xs {
  .my-courses__card {
    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
      }
    }
    .content-wrapper {
      .content header {
        h4 {
          font-size: 1rem;
        }
        p {
          font-size: 0.75rem;
        }
      }
      p.finish {
        font-size: 0.75rem;
      }
    }
  }
}
