/* Start Global */
* {
  box-sizing: border-box;
  &:focus,
  &:active,
  &:checked {
    outline: 0 !important;
    box-shadow: none !important;
  }
}
@font-face {
  font-family: Cairo;
  src: url("/assets/fonts/Cairo-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Cairo;
  src: url("/assets/fonts/Cairo-Bold.ttf");
  font-weight: bold;
}
body {
  font-family: Cairo;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}
button.btn:hover,
button.btn {
  color: white;
}
.primary-color {
  color: $primary;
}
h2 {
  text-align: center;
}
h3 {
  font-size: 1.25rem;
  color: $main-color;
}
p {
  font-size: 1rem;
  color: $text-color;
}

.padding_y {
  padding: 120px 0;
}
.free-modal .submit_btn {
  background: $blue;
}
/* End Global */

/*Start main-components */

section.sec {
  margin: 6.25rem 0;
}

.scrollToTop {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  display: none;
}
@include mobile-xs {
  body,
  html {
    font-size: 1rem;
  }
  .slider-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
@include mobile-sm {
  .slider-wrapper {
    width: 90%;
  }
}
/*End */
