$gray70: #707070;
$gray9f: #9f9f9f;
$red: #f44236;
$blue: #00bcd5;
$primary: #03a9f4;
$border-gray: #d8d8d8;
$white-blue: #f1f5f9;
$main-color: #145da0;
$headings-color: #0c2d48;
$text-color: #868b8e;
