.login-form {
    figure {
        img {
            width: 90%;
        }
    }
    form {
        font-size: 1rem;
        div.password {
            position: relative;
            img {
                position: absolute;
                left: 2.5rem;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
        input {
            padding: 0.8rem 1rem;
            margin-bottom: 1rem;

            &.form-control::-moz-placeholder {
                color: #acacac !important;
                font-size: 1.5rem;
            }
            &.form-control:-ms-input-placeholder {
                color: #acacac !important;
                font-size: 1rem;
            }
            &.form-control::-webkit-input-placeholder {
                color: #acacac !important;
                font-size: 1rem;
            }
        }
        p {
            font-size: 1rem;
        }

        .btn-submit {
            font-size: 1rem;
        }
        input[type="checkbox"] {
            width: 30px;
            height: 16px;
        }
        .checkbox,
        .btn-forget {
            font-size: 1rem;

            color: $text-color;
        }
        .modal {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        h5 {
                            font-weight: bold;
                            font-size: 1.5rem;
                            color: #636363;
                        }
                        .btn-close {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                    input {
                        width: 90%;
                        display: block;
                        margin: 10px auto;
                    }
                }
            }
        }
        .btn-footer-modal {
            width: 10rem;
            height: 3rem;
            padding: 0;
            border-radius: 1rem;
            margin: auto;
            &.save {
                background-color: #787a91;
                border: 1px solid #787a91;
            }
            &.edit {
                background-color: #a6a9b6;
                border: 1px solid #a6a9b6;
            }
        }
        button {
            background-color: $primary;
            color: white;
            padding: 1rem;
            width: 100%;
            border: 1px solid $primary;
            font-size: 1rem;
        }
    }
    .btn_newAccount {
        border: 1px solid #d6d6d6;
        background: #f1f1f1;
        color: #707070;
    }
}
@include mobile-xs {
    .login-form {
        figure {
            img {
            }
        }
        form {
            div.password {
                img {
                }
            }
            input {
                &.form-control::-moz-placeholder {
                    font-size: 1rem;
                }
                &.form-control:-ms-input-placeholder {
                    font-size: 1rem;
                }
                &.form-control::-webkit-input-placeholder {
                    font-size: 1rem;
                }
            }
            label {
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
            }
            .btn-submit {
                font-size: 1rem;
            }
            input[type="checkbox"] {
                width: 30px;
                height: 20px;
            }
            .checkbox,
            .btn-forget {
                font-size: 1rem;
            }
            .modal {
                .modal-dialog {
                    .modal-content {
                        .modal-header {
                            h5 {
                                font-weight: bold;
                                font-size: 1rem;
                                color: #636363;
                            }
                            .btn-close {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                        input {
                            width: 90%;
                            display: block;
                            margin: 10px auto;
                        }
                    }
                }
            }
            .btn-footer-modal {
                width: 8rem;

                &.save {
                }
                &.edit {
                }
            }
            button {
                font-size: 1rem;
            }
        }
        .btn_newAccount {
        }
    }
}
